{% extends 'index.html' %}

{% block title %}
Про нас
{% endblock %}
{% load static %}
{% block content %}
    <section class="intro-about">
        <div class="container">

            <div class="intro-headline">
                <h2>Що таке Sneakers?</h2>
            </div>
            <div class="text-about">
                <br>Ласкаво просимо до нашого інтернет-магазину кросівок! Ми - команда ентузіастів,
            захоплених спортом і модою, і наша мета полягає в тому, щоб надати вам широкий асортимент якісних та
            стильних кросівок, щоб ви могли відчувати комфорт і впевненість на кожному кроці.<br><br>
            Ми прагнемо бути вашим надійним партнером у виборі взуття, пропонуючи вам найактуальніші та модні моделі
            від відомих світових брендів. Ми ретельно відбираємо кожну пару кросівок, щоб переконатися, що вони
            відповідають найвищим стандартам якості та дизайну. Важливим аспектом нашої роботи є ваше задоволення.
            Ми прагнемо забезпечити високий рівень обслуговування, швидку доставку та простий процес повернення.
            Якщо у вас виникнуть питання або складнощі, наша дружня служба підтримки завжди готова допомогти вам
            знайти рішення.<br><br>
            Дякуємо вам за відвідування нашого інтернет-магазину кросівок! Ми сподіваємося, що ви знайдете тут
            ідеальну пару, яка поєднає в собі комфорт, стиль та якість. Ми постійно оновлюємо наш асортимент,
            тому не забудьте повертатися до нас знову й знову, щоб бути в курсі всіх новинок.
            </div>
            <div style="padding-top: 100px; padding-bottom: 50px; text-align: center">
                <h3>НАША МІСІЯ - НЕСТИ НАТХНЕННЯ І МОТИВАЦІЮ КОЖНОМУ</h3>
                <h4>Ходити по світу стає ще приємніше, коли твої ноги в кросівках від Sneakers!</h4>
            </div>

        </div>
    </section>


{% endblock %}
