{% extends 'index.html' %}

{% block title %}
Пошук
{% load static %}
{% endblock %}

{% block content %}

<h1 class="intro-headline">Пошук</h1>

<div  class="d-flex justify-content-center align-items-center">
    <br>Шукаєте особливу пару кросівок? Скористайтеся пошуком на сайті.
</div>

<section class="d-flex justify-content-center align-items-center rows m-5">
        <div class="input-group">
            <form class="input-group" action="{% url 'search_results' %}" role="search">
            <input class="form-control rounded" type="search" value="{{ request.GET.q }}" aria-describedby="search-addon" placeholder="Знайти..." name="q" id="id_q">
            <button class="btn btn-outline-dark" type="submit">Шукати...</button>
            </form>
        </div>
</section>
{% endblock %}

